include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include t_factory_report *.css
recursive-include t_factory_report *.csv
recursive-include t_factory_report *.html
recursive-include t_factory_report *.ico
recursive-include t_factory_report *.js
recursive-include t_factory_report *.json
recursive-include t_factory_report *.md
recursive-include t_factory_report *.png
recursive-include t_factory_report *.py
recursive-include t_factory_report *.svg
recursive-include t_factory_report *.txt
recursive-exclude t_factory_report *.pyc